* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #6fb1fc, #4364f7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.search-box button {
  padding: 8px 12px;
  background: #4364f7;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.search-box button:hover {
  background: #3650d0;
}

.weather-box img {
  width: 80px;
  margin-bottom: 10px;
}

.weather-box h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.weather-box p {
  font-size: 18px;
  margin: 3px 0;
}

#weatherIcon{
    width: 100px
}
